//base
@use 'style/base';

//theme
$rose: #fbe0c3;
$peach: #ffbb98;
$pizarro: #7d8e95;
$charcoal: #344648;
$bone: #e6e0d1;

:root {
  --background-color: #{$pizarro};
  --font-color: #{$bone};
  --font-color-invert: #{$charcoal};
  --container-color: #{$charcoal};
  --primary-color: #{$peach};
  --secundary-color: #{$rose};
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
// elements

main {
  background: var(--container-color);
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  padding: 0.8rem;
  box-shadow: 0 0 5em var(--container-color);
}

.button {
  padding: 0.5rem;
  border-radius: .5rem;
  background-color: var(--background-color);
  &--delete {
    @extend .button;
    background-color: tomato;
    color: var(--font-color-invert);
  }
  &--inverte {
    @extend .button;
    background-color: var(--container-color);
    border: 1px solid var(--background-color);
    color: var(--background-color);
  }
}
.input {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  resize: none;
}
.tittle {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.list {
  display: grid;
  gap: 1rem;
}

// modules
.card-note {
  display: flex;
  justify-content: space-between;
  &__tittle {
    font-size: 2rem;
  }
  &__content {
  }
}
