//base
@use 'style/base';

//theme
$rose: #fbe0c3;
$peach: #ffbb98;
$pizarro: #7d8e95;
$charcoal: #344648;
$bone: #e6e0d1;

:root {
  --background-color: #{$charcoal};
  --font-color: #{$bone};
  --container-color: #{$pizarro};
  --primary-color: #{$peach};
  --secundary-color: #{$rose};
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
// elements

main {
  background: var(--container-color);
  width: max(1000px);
  margin: auto;
}

.input {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
}
