//base
@use 'style/base';

//theme
$rose: #fbe0c3;
$peach: #ffbb98;
$pizarro: #7d8e95;
$charcoal: #344648;

:root{
  --background-color:$charcoal;
  --container-color:$pizarro;
  --primary-color:$peach;
  --secundary-color:$rose;
}



